<% if (!index && page.source != 'about/index.md' && !post.noDate){ %>
  <div class="article-statement">
    <hr>  
    1.除非注明，博文均为原创，转载请标明地址：<a class="post-url" href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.permalink %></a><br>
    2.文章作者：<a href="/" title="访问 <%=theme.author%> 的个人博客"><%=theme.author%></a><br>
    3.发布时间：<%= post.date.format("YYYY年MM月DD日 - HH时mm分") %><br>
    4.如果本文帮到了您，不妨点一下右下角的 <a>分享到</a> 按钮，您的鼓励是博主写作最大的动力。<br>
  </div>
<% } %>

