<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Chrome on Android -->    
    <link rel="icon" sizes="192x192" href="<%- theme.favicon %>">
    <!-- Add to homescreen for Safari on iOS -->
    <link rel="apple-touch-icon-precomposed" href="<%- theme.favicon %>">    
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="<%- theme.favicon %>">
    <meta name="msapplication-TileColor" content="#0e90d2">
  <% } %>
  <%- css('css/style') %>
  <!--[if lt IE 9]><script src="http://cdn.cdnjs.net/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <%- partial('google-analytics') %>
  <%- partial('baidu_tongji') %>
</head>